aiodns==3.2.0
aiohttp==3.9.5
aiosignal==1.3.1
anyio==4.3.0
archspec==0.2.3
async-timeout==4.0.3
attrs==23.2.0
boltons==24.0.0
Brotli==1.1.0
brotlicffi==1.1.0.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
conda==24.4.0
conda-libmamba-solver==24.1.0
conda-package-handling==2.2.0
conda_package_streaming==0.9.0
contourpy==1.3.1
cramjam==2.9.0
cryptography==42.0.5
cycler==0.12.1
distro==1.9.0
fastparquet==2024.11.0
fire==0.7.0
fonttools==4.54.1
frozenlist==1.4.1
fsspec==2024.10.0
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
idna==3.7
joblib==1.4.2
jsonpatch==1.33
jsonpointer==2.4
kiwisolver==1.4.7
libmambapy==1.5.7
lightgbm==4.5.0
matplotlib==3.9.2
multidict==6.0.5
numpy==2.1.3
packaging==24.0
pandas==2.2.3
pillow==11.0.0
platformdirs==4.2.0
pluggy==1.4.0
pyarrow==18.0.0
pycares==4.4.0
pycosat==0.6.3
pycparser==2.22
pyOpenSSL==24.1.0
pyparsing==3.2.0
python-dateutil==2.9.0.post0
pytz==2024.2
requests==2.31.0
ruamel.base==1.0.0
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.7
scikit-learn==1.5.2
scipy==1.14.1
six==1.16.0
sniffio==1.3.1
termcolor==2.5.0
threadpoolctl==3.5.0
tqdm==4.66.4
trustme==1.1.0
truststore==0.8.0
typing_extensions==4.11.0
tzdata==2024.2
urllib3==2.2.2
yarl==1.9.4
zstandard==0.22.0
